@charset "UTF-8";

@media ( max-width :768px) {
	._routerWithArrow_wrapper__v67Nt {
		justify-content: center
	}
}

._alert_layer_pop__H__FV {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, .5);
	overflow: auto;
	z-index: 8000
}

._alert_layer_pop__H__FV:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle
}

._alert_layer_pop__H__FV ._alert_layer_pop_wrap__mswxW {
	z-index: 9001;
	position: relative;
	display: inline-block;
	width: 516px;
	margin: 50px auto;
	background: #fff;
	text-align: left;
	vertical-align: middle;
	outline: none
}

._alert_layer_pop__H__FV ._alert_layer_title__stgvi {
	line-height: 80px;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	letter-spacing: 4.8px;
	padding-left: 50px
}

._alert_layer_pop__H__FV ._alert_btn_layer_close__kFAWa {
	display: inline-block;
	position: absolute;
	top: 30px;
	right: 30px;
	width: 14px;
	height: 14px;
	font-size: 0;
	text-indent: -999px;
	background: url(/web/images/btn-close.png) no-repeat 50%
}

@media ( max-width :1024px) {
	._alert_layer_pop__H__FV ._alert_layer_pop_wrap__mswxW {
		width: 516px
	}
}

@media ( max-width :768px) {
	._alert_layer_pop__H__FV ._alert_layer_pop_wrap__mswxW {
		width: 380px
	}
}

@media ( max-width :375px) {
	._alert_layer_pop__H__FV ._alert_layer_pop_wrap__mswxW {
		width: 90vw
	}
	._alert_layer_pop__H__FV ._alert_btn_layer_close__kFAWa {
		top: 16px;
		right: 16px
	}
	._alert_layer_pop__H__FV ._alert_layer_title__stgvi {
		line-height: 3
	}
}

._alert_change_cont__2zWqi {
	padding: 10px 40px 40px;
	text-align: center;
	font-family: SpoqaHanSans
}

._alert_change_cont__2zWqi ._alert_txt__kzd7P {
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 2.1;
	color: #333
}

._alert_change_cont__2zWqi ._alert_subTxt__uKMi8 {
	font-size: 14px;
	line-height: 1.8;
	color: #666
}

._alert_change_cont__2zWqi ._alert_change__zi5QO {
	margin: 40px 0 0 -50px;
	overflow: hidden;
	color: #181818;
	font-weight: 500
}

._alert_change_cont__2zWqi ._alert_change__zi5QO li {
	width: 50%;
	float: left;
	position: relative
}

._alert_change_cont__2zWqi ._alert_change__zi5QO li:after {
	content: "";
	display: inline-block;
	background: url(/web/images/arw_01.png) no-repeat 50%;
	background-size: cover;
	width: 22px;
	height: 19px;
	position: absolute;
	top: 50%;
	right: -35px;
	margin-top: -10px
}

._alert_change_cont__2zWqi ._alert_change__zi5QO li ._alert_row__SHXkp {
	margin-left: 50px;
	padding: 32px 0;
	background: #fafafa
}

._alert_change_cont__2zWqi ._alert_change__zi5QO ._alert_house__Cupib {
	font-size: 18px
}

._alert_change_cont__2zWqi ._alert_change__zi5QO ._alert_room__yWztF {
	font-size: 24px;
	padding: 15px 0 20px
}

._alert_change_cont__2zWqi ._alert_change__zi5QO ._alert_price__20rEO {
	font-size: 14px
}

@media ( max-width :1024px) {
	._alert_change_cont__2zWqi ._alert_subTxt__uKMi8 {
		font-size: 14px
	}
}

@media ( max-width :768px) {
	._alert_change_cont__2zWqi ._alert_txt__kzd7P {
		font-size: 14px
	}
	._alert_change_cont__2zWqi ._alert_subTxt__uKMi8 {
		font-size: 12px
	}
	._alert_change_cont__2zWqi {
		padding: 0 40px 20px
	}
}

@media ( max-width :375px) {
	._alert_change_cont__2zWqi {
		padding: 10px 20px
	}
}

._alert_bt_btns__pr_6G {
	display: flex;
	display: -ms-flexbox;
	justify-content: center;
	padding: 30px 0;
	font-family: Abel, SpoqaHanSans;
	text-align: center;
	margin: 0 28px;
	gap: 12px
}

._alert_bt_btns__pr_6G button {
	width: 420px;
	height: 48px;
	font-size: 16px;
	display: block
}

._alert_btn_bk__GUiYB {
	margin: 0 auto;
	text-align: center;
	font-family: Abel, SpoqaHanSans;
	background: #333;
	border: 1px solid #333;
	color: #fff;
	display: block
}

._alert_btn_wh__glRfY {
	background: #fff;
	border: 1px solid #333;
	color: #333
}

@media ( max-width :1024px) {
	._alert_bt_btns__pr_6G button {
		width: 420px;
		height: 44px
	}
}

@media ( max-width :768px) {
	._alert_bt_btns__pr_6G button {
		width: 328px;
		font-size: 14px
	}
}

@media ( max-width :375px) {
	._alert_bt_btns__pr_6G {
		margin: 0 14px
	}
	._alert_bt_btns__pr_6G button {
		width: 90%
	}
}

._badge_badge_wrapper__h9IsV {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	text-align: center
}

._badge_exclusive__prNZN, ._badge_festa__Qaq7F, ._badge_hidden__3sh0P,
	._badge_pre-order__EsmGo, ._badge_promo__vtoja {
	height: 28px;
	cursor: pointer;
	padding: 5px 12px;
	background-color: rgba(0, 0, 0, .8)
}

._badge_festa__Qaq7F, ._badge_pre-order__EsmGo, ._badge_promo__vtoja {
	background-color: rgba(51, 51, 51, .7)
}

._badge_txt__fonwF {
	width: 71px;
	height: 18px;
	font-family: SpoqaHanSans;
	font-size: 12px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #fff
}

@media ( max-width :768px) {
	._badge_exclusive__prNZN, ._badge_festa__Qaq7F, ._badge_hidden__3sh0P,
		._badge_pre-order__EsmGo, ._badge_promo__vtoja {
		height: 24px;
		padding: 3px 8px
	}
	._badge_txt__fonwF {
		font-size: 10px
	}
}

@
keyframes _tooltips_popupFadeIn__RPGSi { 0%{
	opacity: 0
}

to {
	opacity: 1
}

}
._tooltips_balloon_desc__gm4gv {
	position: absolute;
	top: 58px;
	width: 362px;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1);
	border: 1px solid #666;
	background: #fff;
	color: #666;
	border-radius: 5px;
	padding: 13px 15px 10px 13px;
	line-height: 1.6;
	white-space: pre-line;
	text-align: left;
	z-index: 1;
	opacity: 1;
	animation: _tooltips_popupFadeIn__RPGSi .3s ease-in;
	transition: opacity .3s ease-in
}

._tooltips_balloon_desc__gm4gv._tooltips_hidden__xldhU {
	visibility: hidden;
	opacity: 0;
	transition: visibility .3s ease-out, opacity .3s ease-out
}

._tooltips_balloon_desc__gm4gv:after, ._tooltips_balloon_desc__gm4gv:before
	{
	border-style: solid;
	border-width: 0 6px 8px 6.5px;
	content: "";
	display: block;
	position: absolute;
	left: 10px;
	width: 0
}

._tooltips_balloon_desc__gm4gv:after {
	border-color: #fff transparent;
	top: -7px;
	z-index: 1
}

._tooltips_balloon_desc__gm4gv:before {
	border-color: #666 transparent;
	top: -8px;
	z-index: 0
}

._tooltips_balloon_close__ZmMn2 {
	display: inline-block;
	position: absolute;
	right: 7px;
	top: 7px;
	width: 7px;
	height: 7px;
	background: url(/web/images/btn-close.png) no-repeat 50%
}

@media ( max-width :768px) {
	._tooltips_balloon_desc__gm4gv {
		top: 85px;
		text-align: center;
		padding: 13px 15px 10px 7px;
		font-size: 12px;
		width: 320px
	}
	._tooltips_balloon_desc__gm4gv:after, ._tooltips_balloon_desc__gm4gv:before
		{
		left: 153.5px
	}
}

._tooltips_balloon_desc_black__Xv4MX {
	position: absolute;
	bottom: 30px;
	left: -8px;
	width: -moz-max-content;
	width: max-content;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1);
	background: #666;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	padding: 8px 12px;
	line-height: 1.6;
	white-space: pre-line;
	z-index: 1;
	opacity: 1;
	animation: _tooltips_popupFadeIn__RPGSi .3s ease-in;
	transition: opacity .3s ease-in
}

._tooltips_balloon_desc_black__Xv4MX._tooltips_hidden__xldhU {
	visibility: hidden;
	opacity: 0;
	transition: visibility .3s ease-out, opacity .3s ease-out
}

._tooltips_balloon_desc_black__Xv4MX:after {
	border-color: #666 transparent;
	border-style: solid;
	border-width: 8px 5px 0;
	content: "";
	display: block;
	left: 10px;
	position: absolute;
	bottom: -8px;
	width: 0
}

._tooltips_alert_layer__ZG5ou {
	top: 117px;
	z-index: 2200;
	background: rgba(0, 0, 0, .5);
	font-size: 18px;
	line-height: 36px;
	padding: 0 20px;
	border-radius: 100px;
	display: inline-block
}

._tooltips_alert_layer__ZG5ou, ._tooltips_marketing_tooltip__BCeUR {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	width: -moz-max-content;
	width: max-content;
	animation: _tooltips_popupFadeIn__RPGSi .3s ease-in;
	transition: visibility .3s ease-in, opacity .3s ease-in
}

._tooltips_marketing_tooltip__BCeUR {
	bottom: 28px;
	z-index: 2300;
	background: #4d4d4d;
	border-radius: 16px;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
	padding: 12px 18px;
	display: flex;
	align-items: center;
	opacity: 1;
	visibility: visible
}

._tooltips_alert_layer__ZG5ou._tooltips_hidden__xldhU,
	._tooltips_marketing_tooltip__BCeUR._tooltips_hidden__xldhU {
	visibility: hidden;
	opacity: 0;
	transition: visibility .3s ease-out, opacity .3s ease-out
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_alert_cont__K8tDm {
	flex: 1 1;
	font-size: 16px;
	font-weight: 500;
	color: #fff
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_alert_cont__K8tDm ._tooltips_desc__bjIx8
	{
	display: block;
	font-size: 12px;
	font-weight: 300;
	color: #ccc;
	margin-top: 8px
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_alert__qojBM {
	border: 1px solid #fff;
	border-radius: 4px;
	height: 32px;
	padding: 0 8px;
	font-size: 14px;
	color: #fff;
	margin-left: 30px
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_alert__qojBM:hover {
	background: #fff;
	color: #4d4d4d
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_close__hoyss {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(/web/images/btn-wh-close.svg) no-repeat 50%;
	background-size: 16px 16px;
	text-indent: -99999px;
	margin: 0 -8px 0 16px
}

@media ( max-width :1024px) {
	._tooltips_marketing_tooltip__BCeUR {
		bottom: 90px
	}
}

@media ( max-width :768px) {
	._tooltips_alert_layer__ZG5ou {
		top: auto;
		bottom: 110px;
		font-size: 15px;
		line-height: 32px
	}
	._tooltips_alert_layer__ZG5ou._tooltips_mo_btm2__L4j0l {
		bottom: 150px
	}
	._tooltips_marketing_tooltip__BCeUR {
		bottom: calc(env(safe-area-inset-bottom)+ 90px);
		border-radius: 12px;
		padding: 14px;
		max-width: calc(100% - 25px)
	}
	._tooltips_marketing_tooltip__BCeUR ._tooltips_alert_cont__K8tDm {
		font-size: 12px
	}
	._tooltips_marketing_tooltip__BCeUR ._tooltips_alert_cont__K8tDm ._tooltips_desc__bjIx8
		{
		font-size: 10px
	}
	._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_alert__qojBM {
		height: 28px;
		font-size: 12px;
		margin-left: 12px
	}
	._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_close__hoyss {
		position: absolute;
		top: -40px;
		right: -6px;
		width: 44px;
		height: 44px;
		background: url(/web/images/btn-close-rd.svg) no-repeat 50%;
		background-size: 16px 16px
	}
}