._selector_layer_toggle__U_ckA {
	visibility: hidden;
	width: 100%;
	opacity: 0;
	transition: all .2s;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0
}

._selector_layer_toggle__U_ckA._selector_open__Lc7QM {
	visibility: visible;
	opacity: 1;
	transition: all .2s;
	top: 32px
}

._selector_layer_toggle__U_ckA ._selector_layer_cover___d3pB {
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
	padding: 16px;
	border: 1px solid #e6e6e6;
	background: #fff;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1);
	z-index: 5000
}

._selector_layer_toggle__U_ckA ._selector_layer_tit__YD6Nd {
	font-size: 14px;
	font-weight: 600;
	color: #666
}

._selector_layer_toggle__U_ckA ._selector_btn_lyBtm__A5EX_ {
	margin-top: 20px;
	display: block;
	width: 100%;
	background: #333;
	height: 36px;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	text-align: center
}

@media ( max-width :768px) {
	._selector_layer_toggle__U_ckA {
		position: fixed;
		top: 0 !important;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		background: rgba(0, 0, 0, .8);
		overflow-y: auto;
		z-index: 200
	}
	._selector_layer_toggle__U_ckA:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle
	}
	._selector_layer_toggle__U_ckA ._selector_layer_cover___d3pB {
		display: inline-block;
		width: calc(100% - 48px) !important;
		min-width: 270px;
		max-width: 330px;
		margin: 50px auto;
		text-align: left;
		vertical-align: middle
	}
}

._selector_layer_sort__dTSl4 ._selector_layer_cover___d3pB {
	padding: 0 8px
}

._selector_filter_list__UUNfp li {
	position: relative;
	line-height: 38px;
	font-size: 14px;
	font-weight: 400;
	color: #666;
	cursor: pointer;
	padding: 4px
}

._selector_filter_list__UUNfp li:hover {
	font-weight: 700
}

._selector_filter_list__UUNfp li._selector_selected__ciPbE {
	color: #333;
	font-weight: 600
}

._selector_filter_list__UUNfp li+li {
	border-top: 1px solid #f2f2f2
}

@media ( max-width :768px) {
	._selector_filter_list__UUNfp li {
		line-height: 44px;
		padding: 0 4px
	}
	._selector_filter_list__UUNfp li._selector_selected__ciPbE {
		background: url(/web/images/selected_gray_check.svg) no-repeat
			calc(100% - 10px) 50%;
		background-size: 18px 18px
	}
}

._selector_pc_only__XruVD {
	display: inline-block !important
}

._selector_sort_list__ypbY1 li {
	float: left;
	margin-left: 20px;
	font-size: 14px;
	cursor: pointer;
	color: #999
}

._selector_sort_list__ypbY1 li._selector_selected__ciPbE {
	color: #000
}

@media ( max-width :768px) {
	._selector_pc_only__XruVD {
		display: none !important
	}
}

@
keyframes _tooltips_popupFadeIn__RPGSi { 0% {
	opacity: 0
}

to {
	opacity: 1
}

}
._tooltips_balloon_desc__gm4gv {
	position: absolute;
	top: 58px;
	width: 362px;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1);
	border: 1px solid #666;
	background: #fff;
	color: #666;
	border-radius: 5px;
	padding: 13px 15px 10px 13px;
	line-height: 1.6;
	white-space: pre-line;
	text-align: left;
	z-index: 1;
	opacity: 1;
	animation: _tooltips_popupFadeIn__RPGSi .3s ease-in;
	transition: opacity .3s ease-in
}

._tooltips_balloon_desc__gm4gv._tooltips_hidden__xldhU {
	visibility: hidden;
	opacity: 0;
	transition: visibility .3s ease-out, opacity .3s ease-out
}

._tooltips_balloon_desc__gm4gv:after, ._tooltips_balloon_desc__gm4gv:before
	{
	border-style: solid;
	border-width: 0 6px 8px 6.5px;
	content: "";
	display: block;
	position: absolute;
	left: 10px;
	width: 0
}

._tooltips_balloon_desc__gm4gv:after {
	border-color: #fff transparent;
	top: -7px;
	z-index: 1
}

._tooltips_balloon_desc__gm4gv:before {
	border-color: #666 transparent;
	top: -8px;
	z-index: 0
}

._tooltips_balloon_close__ZmMn2 {
	display: inline-block;
	position: absolute;
	right: 7px;
	top: 7px;
	width: 7px;
	height: 7px;
	background: url(/web/images/btn-close.png) no-repeat 50%
}

@media ( max-width :768px) {
	._tooltips_balloon_desc__gm4gv {
		top: 85px;
		text-align: center;
		padding: 13px 15px 10px 7px;
		font-size: 12px;
		width: 320px
	}
	._tooltips_balloon_desc__gm4gv:after, ._tooltips_balloon_desc__gm4gv:before
		{
		left: 153.5px
	}
}

._tooltips_balloon_desc_black__Xv4MX {
	position: absolute;
	bottom: 30px;
	left: -8px;
	width: -moz-max-content;
	width: max-content;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1);
	background: #666;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	padding: 8px 12px;
	line-height: 1.6;
	white-space: pre-line;
	z-index: 1;
	opacity: 1;
	animation: _tooltips_popupFadeIn__RPGSi .3s ease-in;
	transition: opacity .3s ease-in
}

._tooltips_balloon_desc_black__Xv4MX._tooltips_hidden__xldhU {
	visibility: hidden;
	opacity: 0;
	transition: visibility .3s ease-out, opacity .3s ease-out
}

._tooltips_balloon_desc_black__Xv4MX:after {
	border-color: #666 transparent;
	border-style: solid;
	border-width: 8px 5px 0;
	content: "";
	display: block;
	left: 10px;
	position: absolute;
	bottom: -8px;
	width: 0
}

._tooltips_alert_layer__ZG5ou {
	top: 117px;
	z-index: 2200;
	background: rgba(0, 0, 0, .5);
	font-size: 18px;
	line-height: 36px;
	padding: 0 20px;
	border-radius: 100px;
	display: inline-block
}

._tooltips_alert_layer__ZG5ou, ._tooltips_marketing_tooltip__BCeUR {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	width: -moz-max-content;
	width: max-content;
	animation: _tooltips_popupFadeIn__RPGSi .3s ease-in;
	transition: visibility .3s ease-in, opacity .3s ease-in
}

._tooltips_marketing_tooltip__BCeUR {
	bottom: 28px;
	z-index: 2300;
	background: #4d4d4d;
	border-radius: 16px;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
	padding: 12px 18px;
	display: flex;
	align-items: center;
	opacity: 1;
	visibility: visible
}

._tooltips_alert_layer__ZG5ou._tooltips_hidden__xldhU,
	._tooltips_marketing_tooltip__BCeUR._tooltips_hidden__xldhU {
	visibility: hidden;
	opacity: 0;
	transition: visibility .3s ease-out, opacity .3s ease-out
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_alert_cont__K8tDm {
	flex: 1 1;
	font-size: 16px;
	font-weight: 500;
	color: #fff
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_alert_cont__K8tDm ._tooltips_desc__bjIx8
	{
	display: block;
	font-size: 12px;
	font-weight: 300;
	color: #ccc;
	margin-top: 8px
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_alert__qojBM {
	border: 1px solid #fff;
	border-radius: 4px;
	height: 32px;
	padding: 0 8px;
	font-size: 14px;
	color: #fff;
	margin-left: 30px
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_alert__qojBM:hover {
	background: #fff;
	color: #4d4d4d
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_close__hoyss {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(/web/images/btn-wh-close.svg) no-repeat 50%;
	background-size: 16px 16px;
	text-indent: -99999px;
	margin: 0 -8px 0 16px
}

@media ( max-width :1024px) {
	._tooltips_marketing_tooltip__BCeUR {
		bottom: 90px
	}
}

@media ( max-width :768px) {
	._tooltips_alert_layer__ZG5ou {
		top: auto;
		bottom: 110px;
		font-size: 15px;
		line-height: 32px
	}
	._tooltips_alert_layer__ZG5ou._tooltips_mo_btm2__L4j0l {
		bottom: 150px
	}
	._tooltips_marketing_tooltip__BCeUR {
		bottom: calc(env(safe-area-inset-bottom)+ 90px);
		border-radius: 12px;
		padding: 14px;
		max-width: calc(100% - 25px)
	}
	._tooltips_marketing_tooltip__BCeUR ._tooltips_alert_cont__K8tDm {
		font-size: 12px
	}
	._tooltips_marketing_tooltip__BCeUR ._tooltips_alert_cont__K8tDm ._tooltips_desc__bjIx8
		{
		font-size: 10px
	}
	._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_alert__qojBM {
		height: 28px;
		font-size: 12px;
		margin-left: 12px
	}
	._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_close__hoyss {
		position: absolute;
		top: -40px;
		right: -6px;
		width: 44px;
		height: 44px;
		background: url(/web/images/btn-close-rd.svg) no-repeat 50%;
		background-size: 16px 16px
	}
}

._findstay_findstay_list__1KB6H {
	margin: 0 auto;
	max-width: 1330px
}

._findstay_sort_wrap__JLD12 {
	border-bottom: 2px solid #000;
	margin-top: 90px;
	padding-bottom: 12px;
	justify-content: space-between
}

._findstay_sort_selb__JhhC5, ._findstay_sort_wrap__JLD12 {
	position: relative;
	display: flex
}

._findstay_sort_selb__JhhC5 li {
	position: relative;
	margin-right: 30px
}

._findstay_sort_selb__JhhC5 ._findstay_btn_sort__h6PXi {
	font-size: 14px;
	color: #000;
	background: url(/web/images/dropdown_button.svg) no-repeat 100% 50%;
	background-size: 15px 15px;
	padding-right: 22px
}

._findstay_balloon_desc__mSpcl {
	position: absolute;
	bottom: 30px;
	left: -8px;
	width: 180px;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1);
	background: #666;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	padding: 8px 12px;
	line-height: 1.6
}

._findstay_balloon_desc__mSpcl:after {
	border-color: #666 transparent;
	border-style: solid;
	border-width: 8px 5px 0;
	content: "";
	display: block;
	left: 10px;
	position: absolute;
	bottom: -8px;
	width: 0
}

._findstay_sort_wrap__JLD12 ._findstay_sort_list__hTHSr li {
	float: left;
	margin-left: 20px;
	font-size: 14px;
	cursor: pointer
}

._findstay_mo_only__ojbXn {
	display: none !important
}

@media ( max-width :768px) {
	._findstay_mo_only__ojbXn {
		display: inline-block !important
	}
}
._routerWithArrow_wrapper__v67Nt {
	color: #181818;
	display: flex;
	justify-content: flex-end;
	align-items: center
}

@media ( max-width :768px) {
	._routerWithArrow_wrapper__v67Nt {
		justify-content: center
	}
}

._alert_layer_pop__H__FV {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, .5);
	overflow: auto;
	z-index: 8000
}

._alert_layer_pop__H__FV:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle
}

._alert_layer_pop__H__FV ._alert_layer_pop_wrap__mswxW {
	z-index: 9001;
	position: relative;
	display: inline-block;
	width: 516px;
	margin: 50px auto;
	background: #fff;
	text-align: left;
	vertical-align: middle;
	outline: none
}

._alert_layer_pop__H__FV ._alert_layer_title__stgvi {
	line-height: 80px;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	letter-spacing: 4.8px;
	padding-left: 50px
}

._alert_layer_pop__H__FV ._alert_btn_layer_close__kFAWa {
	display: inline-block;
	position: absolute;
	top: 30px;
	right: 30px;
	width: 14px;
	height: 14px;
	font-size: 0;
	text-indent: -999px;
	background: url(/web/images/btn-close.png) no-repeat 50%
}

@media ( max-width :1024px) {
	._alert_layer_pop__H__FV ._alert_layer_pop_wrap__mswxW {
		width: 516px
	}
}

@media ( max-width :768px) {
	._alert_layer_pop__H__FV ._alert_layer_pop_wrap__mswxW {
		width: 380px
	}
}

@media ( max-width :375px) {
	._alert_layer_pop__H__FV ._alert_layer_pop_wrap__mswxW {
		width: 90vw
	}
	._alert_layer_pop__H__FV ._alert_btn_layer_close__kFAWa {
		top: 16px;
		right: 16px
	}
	._alert_layer_pop__H__FV ._alert_layer_title__stgvi {
		line-height: 3
	}
}

._alert_change_cont__2zWqi {
	padding: 10px 40px 40px;
	text-align: center;
	font-family: SpoqaHanSans
}

._alert_change_cont__2zWqi ._alert_txt__kzd7P {
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 2.1;
	color: #333
}

._alert_change_cont__2zWqi ._alert_subTxt__uKMi8 {
	font-size: 14px;
	line-height: 1.8;
	color: #666
}

._alert_change_cont__2zWqi ._alert_change__zi5QO {
	margin: 40px 0 0 -50px;
	overflow: hidden;
	color: #181818;
	font-weight: 500
}

._alert_change_cont__2zWqi ._alert_change__zi5QO li {
	width: 50%;
	float: left;
	position: relative
}

._alert_change_cont__2zWqi ._alert_change__zi5QO li:after {
	content: "";
	display: inline-block;
	background: url(/web/images/arw_01.png) no-repeat 50%;
	background-size: cover;
	width: 22px;
	height: 19px;
	position: absolute;
	top: 50%;
	right: -35px;
	margin-top: -10px
}

._alert_change_cont__2zWqi ._alert_change__zi5QO li ._alert_row__SHXkp {
	margin-left: 50px;
	padding: 32px 0;
	background: #fafafa
}

._alert_change_cont__2zWqi ._alert_change__zi5QO ._alert_house__Cupib {
	font-size: 18px
}

._alert_change_cont__2zWqi ._alert_change__zi5QO ._alert_room__yWztF {
	font-size: 24px;
	padding: 15px 0 20px
}

._alert_change_cont__2zWqi ._alert_change__zi5QO ._alert_price__20rEO {
	font-size: 14px
}

@media ( max-width :1024px) {
	._alert_change_cont__2zWqi ._alert_subTxt__uKMi8 {
		font-size: 14px
	}
}

@media ( max-width :768px) {
	._alert_change_cont__2zWqi ._alert_txt__kzd7P {
		font-size: 14px
	}
	._alert_change_cont__2zWqi ._alert_subTxt__uKMi8 {
		font-size: 12px
	}
	._alert_change_cont__2zWqi {
		padding: 0 40px 20px
	}
}

@media ( max-width :375px) {
	._alert_change_cont__2zWqi {
		padding: 10px 20px
	}
}

._alert_bt_btns__pr_6G {
	display: flex;
	display: -ms-flexbox;
	justify-content: center;
	padding: 30px 0;
	font-family: Abel, SpoqaHanSans;
	text-align: center;
	margin: 0 28px;
	gap: 12px
}

._alert_bt_btns__pr_6G button {
	width: 420px;
	height: 48px;
	font-size: 16px;
	display: block
}

._alert_btn_bk__GUiYB {
	margin: 0 auto;
	text-align: center;
	font-family: Abel, SpoqaHanSans;
	background: #333;
	border: 1px solid #333;
	color: #fff;
	display: block
}

._alert_btn_wh__glRfY {
	background: #fff;
	border: 1px solid #333;
	color: #333
}

@media ( max-width :1024px) {
	._alert_bt_btns__pr_6G button {
		width: 420px;
		height: 44px
	}
}

@media ( max-width :768px) {
	._alert_bt_btns__pr_6G button {
		width: 328px;
		font-size: 14px
	}
}

@media ( max-width :375px) {
	._alert_bt_btns__pr_6G {
		margin: 0 14px
	}
	._alert_bt_btns__pr_6G button {
		width: 90%
	}
}

._badge_badge_wrapper__h9IsV {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	text-align: center
}

._badge_exclusive__prNZN, ._badge_festa__Qaq7F, ._badge_hidden__3sh0P,
	._badge_pre-order__EsmGo, ._badge_promo__vtoja {
	height: 28px;
	cursor: pointer;
	padding: 5px 12px;
	background-color: rgba(0, 0, 0, .8)
}

._badge_festa__Qaq7F, ._badge_pre-order__EsmGo, ._badge_promo__vtoja {
	background-color: rgba(51, 51, 51, .7)
}

._badge_txt__fonwF {
	width: 71px;
	height: 18px;
	font-family: SpoqaHanSans;
	font-size: 12px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #fff
}

@media ( max-width :768px) {
	._badge_exclusive__prNZN, ._badge_festa__Qaq7F, ._badge_hidden__3sh0P,
		._badge_pre-order__EsmGo, ._badge_promo__vtoja {
		height: 24px;
		padding: 3px 8px
	}
	._badge_txt__fonwF {
		font-size: 10px
	}
}

@
keyframes _tooltips_popupFadeIn__RPGSi { 0% {
	opacity: 0
}

to {
	opacity: 1
}

}
._tooltips_balloon_desc__gm4gv {
	position: absolute;
	top: 58px;
	width: 362px;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1);
	border: 1px solid #666;
	background: #fff;
	color: #666;
	border-radius: 5px;
	padding: 13px 15px 10px 13px;
	line-height: 1.6;
	white-space: pre-line;
	text-align: left;
	z-index: 1;
	opacity: 1;
	animation: _tooltips_popupFadeIn__RPGSi .3s ease-in;
	transition: opacity .3s ease-in
}

._tooltips_balloon_desc__gm4gv._tooltips_hidden__xldhU {
	visibility: hidden;
	opacity: 0;
	transition: visibility .3s ease-out, opacity .3s ease-out
}

._tooltips_balloon_desc__gm4gv:after, ._tooltips_balloon_desc__gm4gv:before
	{
	border-style: solid;
	border-width: 0 6px 8px 6.5px;
	content: "";
	display: block;
	position: absolute;
	left: 10px;
	width: 0
}

._tooltips_balloon_desc__gm4gv:after {
	border-color: #fff transparent;
	top: -7px;
	z-index: 1
}

._tooltips_balloon_desc__gm4gv:before {
	border-color: #666 transparent;
	top: -8px;
	z-index: 0
}

._tooltips_balloon_close__ZmMn2 {
	display: inline-block;
	position: absolute;
	right: 7px;
	top: 7px;
	width: 7px;
	height: 7px;
	background: url(/web/images/btn-close.png) no-repeat 50%
}

@media ( max-width :768px) {
	._tooltips_balloon_desc__gm4gv {
		top: 85px;
		text-align: center;
		padding: 13px 15px 10px 7px;
		font-size: 12px;
		width: 320px
	}
	._tooltips_balloon_desc__gm4gv:after, ._tooltips_balloon_desc__gm4gv:before
		{
		left: 153.5px
	}
}

._tooltips_balloon_desc_black__Xv4MX {
	position: absolute;
	bottom: 30px;
	left: -8px;
	width: -moz-max-content;
	width: max-content;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1);
	background: #666;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	padding: 8px 12px;
	line-height: 1.6;
	white-space: pre-line;
	z-index: 1;
	opacity: 1;
	animation: _tooltips_popupFadeIn__RPGSi .3s ease-in;
	transition: opacity .3s ease-in
}

._tooltips_balloon_desc_black__Xv4MX._tooltips_hidden__xldhU {
	visibility: hidden;
	opacity: 0;
	transition: visibility .3s ease-out, opacity .3s ease-out
}

._tooltips_balloon_desc_black__Xv4MX:after {
	border-color: #666 transparent;
	border-style: solid;
	border-width: 8px 5px 0;
	content: "";
	display: block;
	left: 10px;
	position: absolute;
	bottom: -8px;
	width: 0
}

._tooltips_alert_layer__ZG5ou {
	top: 117px;
	z-index: 2200;
	background: rgba(0, 0, 0, .5);
	font-size: 18px;
	line-height: 36px;
	padding: 0 20px;
	border-radius: 100px;
	display: inline-block
}

._tooltips_alert_layer__ZG5ou, ._tooltips_marketing_tooltip__BCeUR {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	width: -moz-max-content;
	width: max-content;
	animation: _tooltips_popupFadeIn__RPGSi .3s ease-in;
	transition: visibility .3s ease-in, opacity .3s ease-in
}

._tooltips_marketing_tooltip__BCeUR {
	bottom: 28px;
	z-index: 2300;
	background: #4d4d4d;
	border-radius: 16px;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
	padding: 12px 18px;
	display: flex;
	align-items: center;
	opacity: 1;
	visibility: visible
}

._tooltips_alert_layer__ZG5ou._tooltips_hidden__xldhU,
	._tooltips_marketing_tooltip__BCeUR._tooltips_hidden__xldhU {
	visibility: hidden;
	opacity: 0;
	transition: visibility .3s ease-out, opacity .3s ease-out
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_alert_cont__K8tDm {
	flex: 1 1;
	font-size: 16px;
	font-weight: 500;
	color: #fff
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_alert_cont__K8tDm ._tooltips_desc__bjIx8
	{
	display: block;
	font-size: 12px;
	font-weight: 300;
	color: #ccc;
	margin-top: 8px
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_alert__qojBM {
	border: 1px solid #fff;
	border-radius: 4px;
	height: 32px;
	padding: 0 8px;
	font-size: 14px;
	color: #fff;
	margin-left: 30px
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_alert__qojBM:hover {
	background: #fff;
	color: #4d4d4d
}

._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_close__hoyss {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(/web/images/btn-wh-close.svg) no-repeat 50%;
	background-size: 16px 16px;
	text-indent: -99999px;
	margin: 0 -8px 0 16px
}

@media ( max-width :1024px) {
	._tooltips_marketing_tooltip__BCeUR {
		bottom: 90px
	}
}

@media ( max-width :768px) {
	._tooltips_alert_layer__ZG5ou {
		top: auto;
		bottom: 110px;
		font-size: 15px;
		line-height: 32px
	}
	._tooltips_alert_layer__ZG5ou._tooltips_mo_btm2__L4j0l {
		bottom: 150px
	}
	._tooltips_marketing_tooltip__BCeUR {
		bottom: calc(env(safe-area-inset-bottom)+ 90px);
		border-radius: 12px;
		padding: 14px;
		max-width: calc(100% - 25px)
	}
	._tooltips_marketing_tooltip__BCeUR ._tooltips_alert_cont__K8tDm {
		font-size: 12px
	}
	._tooltips_marketing_tooltip__BCeUR ._tooltips_alert_cont__K8tDm ._tooltips_desc__bjIx8
		{
		font-size: 10px
	}
	._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_alert__qojBM {
		height: 28px;
		font-size: 12px;
		margin-left: 12px
	}
	._tooltips_marketing_tooltip__BCeUR ._tooltips_btn_close__hoyss {
		position: absolute;
		top: -40px;
		right: -6px;
		width: 44px;
		height: 44px;
		background: url(/web/images/btn-close-rd.svg) no-repeat 50%;
		background-size: 16px 16px
	}
}
</style>
<style data-n-href="/_next/static/css/9281ce6090d210fe.css" media="x">
._share_btn_share__e96Bh {
	display: flex;
	width: 260px;
	height: 44px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 14px;
	flex-shrink: 0
}

._share_btn_share_event__qE3Oe, ._share_btn_share_preorder__6CI8a {
	position: relative;
	width: 44px;
	height: 44px;
	font-size: 0;
	z-index: 10;
	background: url(/web/images/ico-share.svg) no-repeat 50%;
	background-size: 44px 44px;
	text-indent: -99999px;
	transition: all .3s
}

._share_btn_share_event__qE3Oe {
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	background: url(/web/images/ico-share-2.svg) no-repeat 50%
}

._share_outer_share_area__RADbM {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	z-index: 9996
}

._share_share_layer__rWCII {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	width: 252px;
	z-index: 9998;
	padding: 20px;
	box-sizing: border-box;
	overflow: auto
}

._share_share_layer__rWCII ._share_share_list__Ii6C2 ._share_email__ldnk4,
	._share_share_layer__rWCII ._share_share_list__Ii6C2 ._share_sms__iquLf
	{
	display: none !important
}

._share_share_layer__rWCII ._share_share_list__Ii6C2 span {
	display: flex;
	justify-content: center
}

._share_share_layer__rWCII ._share_share_list__Ii6C2 li:hover {
	text-decoration: underline
}

._share_share_layer__rWCII ._share_btn_close__3bJBH {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 40px;
	height: 40px;
	background: url(/web/images/btn-close.png) no-repeat 50%;
	background-size: 16px 16px;
	text-indent: -9999px
}

._share_share_layer__rWCII ._share_share_tit__zV7S6 {
	font-size: 14px;
	color: #4d4d4d
}

._share_share_layer__rWCII ._share_share_list__Ii6C2 {
	clear: both;
	font-size: 0;
	margin: 10px 0 0
}

._share_share_layer__rWCII ._share_share_list__Ii6C2 li {
	display: inline-block;
	width: 50%;
	font-size: 14px;
	color: #4d4d4d;
	margin: 15px 0
}

._share_share_layer__rWCII ._share_share_list__Ii6C2 img {
	width: 52px;
	height: 52px;
	display: block;
	margin: 0 auto 12px
}

._share_link_copy__sZbsk {
	position: fixed;
	top: 117px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	background: rgba(0, 0, 0, .5);
	font-size: 18px;
	line-height: 38px;
	padding: 0 20px;
	border-radius: 100px;
	color: #fff;
	width: -moz-max-content;
	width: max-content;
	visibility: hidden;
	opacity: 0
}

._share_reveal__1ndkI {
	visibility: visible;
	opacity: 1;
	transition: .8s
}

@media ( max-width :768px) {
	._share_btn_share_featured__NdcYV, ._share_btn_share_magazine__uThIq,
		._share_btn_share_pick__Vyd95 {
		width: 335px;
		height: 44px
	}
	._share_share_area__UEX5u ._share_dim__m7OT3 {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .5);
		z-index: 2200
	}
	._share_share_layer__rWCII {
		position: fixed;
		top: 50%;
		left: 50%;
		right: auto;
		transform: translate(-50%, -50%);
		z-index: 2300
	}
	._share_share_layer__rWCII ._share_share_list__Ii6C2 ._share_email__ldnk4,
		._share_share_layer__rWCII ._share_share_list__Ii6C2 ._share_sms__iquLf
		{
		display: inline-block !important
	}
	._share_link_copy__sZbsk {
		position: fixed;
		top: auto;
		bottom: 110px;
		font-size: 15px;
		line-height: 31px;
		color: #fff
	}
	._share_reveal__1ndkI {
		visibility: visible;
		opacity: 1;
		transition: .8s
	}
}
@font-face {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src:
		url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3q-0c4w.woff)
		format('woff')
}

@font-face {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src:
		url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3q-0s6Fostz0rdom9.woff2)
		format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
		U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
		U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src:
		url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3q-0s6Vostz0rdom9.woff2)
		format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F,
		U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
		U+A720-A7FF
}

@font-face {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src:
		url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3q-0s51ostz0rdg.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
		U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}
</style>
<link as="script" rel="prefetch"
	href="/_next/static/chunks/9322-5ec188649d4ce518.js">
<link as="script" rel="prefetch"
	href="/_next/static/chunks/pages/findstay-a0f7aabc0274a1e3.js">
<link as="script" rel="prefetch"
	href="/_next/static/chunks/pages/promotions-f9675c9006ddc614.js">
<link as="script" rel="prefetch"
	href="/_next/static/chunks/pages/journal/videos-a6cbcbcc971712c5.js">
<link as="script" rel="prefetch"
	href="/_next/static/chunks/pages/preorder-b9ee57648264009c.js">
<link as="script" rel="prefetch"
	href="/_next/static/chunks/fec483df-7c0692bd397c929f.js">
<link as="script" rel="prefetch"
	href="/_next/static/chunks/6817-8a306c5ba44deb83.js">
<link as="script" rel="prefetch"
	href="/_next/static/chunks/pages/login-9beaf97cea69447e.js">
<style>
@
-webkit-keyframes buttr-backdrop-keyframe {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@
keyframes buttr-backdrop-keyframe {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
.buttr-backdrop-animation {
	animation: buttr-backdrop-keyframe 0.3s ease-out;
}
.fb_hidden {
	position: absolute;
	top: -10000px;
	z-index: 10001
}

.fb_reposition {
	overflow: hidden;
	position: relative
}

.fb_invisible {
	display: none
}

.fb_reset {
	background: none;
	border: 0;
	border-spacing: 0;
	color: #000;
	cursor: auto;
	direction: ltr;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	margin: 0;
	overflow: visible;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	visibility: visible;
	white-space: normal;
	word-spacing: normal
}

.fb_reset>div {
	overflow: hidden
}

@
keyframes fb_transform {from { opacity:0;
	transform: scale(.95)
}

to {
	opacity: 1;
	transform: scale(1)
}

}
.fb_animate {
	animation: fb_transform .3s forwards
}

.fb_hidden {
	position: absolute;
	top: -10000px;
	z-index: 10001
}

.fb_reposition {
	overflow: hidden;
	position: relative
}

.fb_invisible {
	display: none
}

.fb_reset {
	background: none;
	border: 0;
	border-spacing: 0;
	color: #000;
	cursor: auto;
	direction: ltr;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	margin: 0;
	overflow: visible;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	visibility: visible;
	white-space: normal;
	word-spacing: normal
}

.fb_reset>div {
	overflow: hidden
}

@
keyframes fb_transform {from { opacity:0;
	transform: scale(.95)
}

to {
	opacity: 1;
	transform: scale(1)
}

}
.fb_animate {
	animation: fb_transform .3s forwards
}

.fb_dialog {
	background: rgba(82, 82, 82, .7);
	position: absolute;
	top: -10000px;
	z-index: 10001
}

.fb_dialog_advanced {
	border-radius: 8px;
	padding: 10px
}

.fb_dialog_content {
	background: #fff;
	color: #373737
}

.fb_dialog_close_icon {
	background:
		url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png)
		no-repeat scroll 0 0 transparent;
	cursor: pointer;
	display: block;
	height: 15px;
	position: absolute;
	right: 18px;
	top: 17px;
	width: 15px
}

.fb_dialog_mobile .fb_dialog_close_icon {
	left: 5px;
	right: auto;
	top: 5px
}

.fb_dialog_padding {
	background-color: transparent;
	position: absolute;
	width: 1px;
	z-index: -1
}

.fb_dialog_close_icon:hover {
	background:
		url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png)
		no-repeat scroll 0 -15px transparent
}

.fb_dialog_close_icon:active {
	background:
		url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png)
		no-repeat scroll 0 -30px transparent
}

.fb_dialog_iframe {
	line-height: 0
}

.fb_dialog_content .dialog_title {
	background: #6d84b4;
	border: 1px solid #365899;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 0
}

.fb_dialog_content .dialog_title>span {
	background:
		url(https://connect.facebook.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif)
		no-repeat 5px 50%;
	float: left;
	padding: 5px 0 7px 26px
}

body.fb_hidden {
	height: 100%;
	left: 0;
	margin: 0;
	overflow: visible;
	position: absolute;
	top: -10000px;
	transform: none;
	width: 100%
}

.fb_dialog.fb_dialog_mobile.loading {
	background:
		url(https://connect.facebook.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif)
		white no-repeat 50% 50%;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 10001
}

.fb_dialog.fb_dialog_mobile.loading.centered {
	background: none;
	height: auto;
	min-height: initial;
	min-width: initial;
	width: auto
}

.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
	width: 100%
}

.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
	background: none
}

.loading.centered #fb_dialog_loader_close {
	clear: both;
	color: #fff;
	display: block;
	font-size: 18px;
	padding-top: 20px
}

#fb-root #fb_dialog_ipad_overlay {
	background: rgba(0, 0, 0, .4);
	bottom: 0;
	left: 0;
	min-height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10000
}

#fb-root #fb_dialog_ipad_overlay.hidden {
	display: none
}

.fb_dialog.fb_dialog_mobile.loading iframe {
	visibility: hidden
}

.fb_dialog_mobile .fb_dialog_iframe {
	position: sticky;
	top: 0
}

.fb_dialog_content .dialog_header {
	background: linear-gradient(from(#738aba), to(#2c4987));
	border-bottom: 1px solid;
	border-color: #043b87;
	box-shadow: white 0 1px 1px -1px inset;
	color: #fff;
	font: bold 14px Helvetica, sans-serif;
	text-overflow: ellipsis;
	text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
	vertical-align: middle;
	white-space: nowrap
}

.fb_dialog_content .dialog_header table {
	height: 43px;
	width: 100%
}

.fb_dialog_content .dialog_header td.header_left {
	font-size: 12px;
	padding-left: 5px;
	vertical-align: middle;
	width: 60px
}

.fb_dialog_content .dialog_header td.header_right {
	font-size: 12px;
	padding-right: 5px;
	vertical-align: middle;
	width: 60px
}

.fb_dialog_content .touchable_button {
	background: linear-gradient(from(#4267B2), to(#2a4887));
	background-clip: padding-box;
	border: 1px solid #29487d;
	border-radius: 3px;
	display: inline-block;
	line-height: 18px;
	margin-top: 3px;
	max-width: 85px;
	padding: 4px 12px;
	position: relative
}

.fb_dialog_content .dialog_header .touchable_button input {
	background: none;
	border: none;
	color: #fff;
	font: bold 12px Helvetica, sans-serif;
	margin: 2px -12px;
	padding: 2px 6px 3px 6px;
	text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog_content .dialog_header .header_center {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	text-align: center;
	vertical-align: middle
}

.fb_dialog_content .dialog_content {
	background:
		url(https://connect.facebook.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif)
		no-repeat 50% 50%;
	border: 1px solid #4a4a4a;
	border-bottom: 0;
	border-top: 0;
	height: 150px
}

.fb_dialog_content .dialog_footer {
	background: #f5f6f7;
	border: 1px solid #4a4a4a;
	border-top-color: #ccc;
	height: 40px
}

#fb_dialog_loader_close {
	float: left
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
	visibility: hidden
}

#fb_dialog_loader_spinner {
	animation: rotateSpinner 1.2s linear infinite;
	background-color: transparent;
	background-image:
		url(https://connect.facebook.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px
}

/* @
keyframes rotateSpinner { 0% {
	transform: rotate(0deg)
}

100%
{
transform










:





 





rotate










(360
deg








)
}
}
.fb_iframe_widget {
	display: inline-block;
	position: relative
}

.fb_iframe_widget span {
	display: inline-block;
	position: relative;
	text-align: justify
}

.fb_iframe_widget iframe {
	position: absolute
}

.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span,
	.fb_iframe_widget_fluid_desktop iframe {
	max-width: 100%
}

.fb_iframe_widget_fluid_desktop iframe {
	min-width: 220px;
	position: relative
}

.fb_iframe_widget_lift {
	z-index: 1
}

.fb_iframe_widget_fluid {
	display: inline
}

.fb_iframe_widget_fluid span {
	width: 100%
}

.fb_mpn_mobile_landing_page_slide_out {
	animation-duration: 200ms;
	animation-name: fb_mpn_landing_page_slide_out;
	transition-timing-function: ease-in
}

.fb_mpn_mobile_landing_page_slide_out_from_left {
	animation-duration: 200ms;
	animation-name: fb_mpn_landing_page_slide_out_from_left;
	transition-timing-function: ease-in
}

.fb_mpn_mobile_landing_page_slide_up {
	animation-duration: 500ms;
	animation-name: fb_mpn_landing_page_slide_up;
	transition-timing-function: ease-in
}

.fb_mpn_mobile_bounce_in {
	animation-duration: 300ms;
	animation-name: fb_mpn_bounce_in;
	transition-timing-function: ease-in
}

.fb_mpn_mobile_bounce_out {
	animation-duration: 300ms;
	animation-name: fb_mpn_bounce_out;
	transition-timing-function: ease-in
}

.fb_mpn_mobile_bounce_out_v2 {
	animation-duration: 300ms;
	animation-name: fb_mpn_fade_out;
	transition-timing-function: ease-in
}

.fb_customer_chat_bounce_in_v2 {
	animation-duration: 300ms;
	animation-name: fb_bounce_in_v2;
	transition-timing-function: ease-in
}

.fb_customer_chat_bounce_in_from_left {
	animation-duration: 300ms;
	animation-name: fb_bounce_in_from_left;
	transition-timing-function: ease-in
}

.fb_customer_chat_bounce_out_v2 {
	animation-duration: 300ms;
	animation-name: fb_bounce_out_v2;
	transition-timing-function: ease-in
}

.fb_customer_chat_bounce_out_from_left {
	animation-duration: 300ms;
	animation-name: fb_bounce_out_from_left;
	transition-timing-function: ease-in
}

.fb_invisible_flow {
	display: inherit;
	height: 0;
	overflow-x: hidden;
	width: 0
}

@
keyframes fb_mpn_landing_page_slide_out { 0% {
	margin: 0 12px;
	width: 100%- 24px
}

60%
{
border-radius










:





 





18
px






                





}
100%
{
border-radius










:





 





50%;
margin










:





 





0
24
px










;
width










:





 





60
px






                





}
}
@
keyframes fb_mpn_landing_page_slide_out_from_left { 0% {
	left: 12px;
	width: 100%- 24px
}

60%
{
border-radius










:

18
px

}
100%
{
border-radius

:

50%;
left

:

12
px

;
width

:

60
px

}
}
@
keyframes fb_mpn_landing_page_slide_up { 0% {
	bottom: 0;
	opacity: 0
}

100%
{
bottom

:

24
px

;
opacity

:

1
}
}
@
keyframes fb_mpn_bounce_in { 0% {
	opacity: .5;
	top: 100%
}

100%
{
opacity


:


1;
top


:


0
}
}
@
keyframes fb_mpn_fade_out { 0% {
	bottom: 30px;
	opacity: 1
}

100%
{
bottom

:



0;
opacity


:

0
}
}
@
keyframes fb_mpn_bounce_out { 0% {
	opacity: 1;
	top: 0
}

100%
{
opacity

:

.5

;
top

:

100%
}
}
@
keyframes fb_bounce_in_v2 { 0% {
	opacity: 0;
	transform: scale(0, 0);
	transform-origin: bottom right
}

50%
{
transform

:

scale

(1
.03
,
1
.03

);
transform-origin
:

bottom

right

}
100%
{
opacity

:

1;
transform

:

scale

(1
,
1);
transform-origin


:

bottom

right


}
}
@
keyframes fb_bounce_in_from_left { 0% {
	opacity: 0;
	transform: scale(0, 0);
	transform-origin: bottom left
}

50%
{
transform

:

scale

(1
.03
,
1
.03

);
transform-origin

:


bottom

left


}
100%
{
opacity

:

1;
transform


:





 





scale










(1
,
1);
transform-origin










:





 





bottom





 





left






                





}
}
@
keyframes fb_bounce_out_v2 { 0% {
	opacity: 1;
	transform: scale(1, 1);
	transform-origin: bottom right
}

100%
{
opacity










:





 





0;
transform










:





 





scale










(0
,
0);
transform-origin










:





 





bottom





 





right






                





}
}
@
keyframes fb_bounce_out_from_left { 0% {
	opacity: 1;
	transform: scale(1, 1);
	transform-origin: bottom left
}

100%
{
opacity










:





 





0;
transform










:





 





scale










(0
,
0);
transform-origin










:

bottom



left



}
}
@
keyframes slideInFromBottom { 0% {
	opacity: .1;
	transform: translateY(100%)
}

100%
{
opacity



:

1;
transform


:


translateY




(0)
}
}
@
keyframes slideInFromBottomDelay { 0% {
	opacity: 0;
	transform: translateY(100%)
}
97%
{
opacity



:


0;
transform

:


translateY



(100%)
}
100%
{
opacity

:


1;
transform


:

translateY


(0)
}
} */
._findstay_sort_selb__JhhC5 ._findstay_btn_sort__h6PXi {
    font-size: 14px;
    color: #000;
    background: url(https://www.stayfolio.com//web/images/dropdown_button.svg) no-repeat 100% 50%;
    background-size: 18px 18px;
    padding-right: 22px;
}


/* 갤린더 ------------------------------------------------------------------------------------------------ */

@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* section calendar */
@font-face {
    font-family: 'NanumSquareR';
    font-style: normal;
    font-weight: 400;
    src: local('Nanum Square Regular'),
        local('NanumSquareR'),
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --blue: #3f99ff;
}

body {
    font-family: NanumSquareR;
}

a {
    text-decoration-line: none;
    text-decoration: none;
    color: #000;
}

ol,
ul {
    list-style: none;
}


/* Calendar ---------------------------------------------------- */
.calendar-wrap {
    max-width: 1175px;
    padding-top: 50px;
    margin: 0 auto;
    font-family: "NanumSquareR";
    display: flex;
    gap: 2%;
    margin-bottom: 20px;
}

.calendar-wrap>div {}

.calendar-middle-wrap {
    background: white;
    width: 34%;
    padding: 40px 32px;
    padding-bottom: 100px;
}

.checkInOutInfo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    position: relative;
}

.calendar-wrap .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
}

.calendar-wrap .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
    font-size: 20px;
}

.calendar-wrap .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.calendar-wrap .cal_nav .go-prev,
.calendar-wrap .cal_nav .go-next {
    display: block;
    width: 50px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-wrap .cal_nav .go-prev::before,
.calendar-wrap .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.calendar-wrap .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.calendar-wrap .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.calendar-wrap .cal_wrap {
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
}

.calendar-wrap .cal_wrap::after {
    top: 368px;
}

.calendar-wrap .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

.calendar-wrap .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
}

.calendar-wrap .cal_wrap .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    text-align: left;
    color: #2d1d0b;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.calendar-wrap .cal_wrap .day span {
    z-index: 5;
}

.calendar-wrap .cal_wrap .day .check_in_out_p {
    position: absolute;
    left: 50%;
    top: 47px;
    transform: translateX(-50%);
    font-size: 12px;
    width: 100%;
    color: var(--blue);
}

.calendar-wrap .cal_wrap .checkIn span {
    color: #fff;
}

.calendar-wrap .cal_wrap .checkOut span {
    color: #fff;
}

.calendar-wrap .cal_wrap .selectDay {
    position: relative;
}

.calendar-wrap .cal_wrap .selectDay::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 30px;
    background: #c3defc;
    opacity: 0.5;
    z-index: 1;
}

.calendar-wrap .cal_wrap .checkIn.selectDay::before {
    left: 50%;
    width: 50%;
}

.calendar-wrap .cal_wrap .checkOut.selectDay::before {
    width: 50%;
}

.calendar-wrap .cal_wrap .checkIn::after,
.calendar-wrap .cal_wrap .checkOut::after,
.calendar-wrap .cal_wrap .checkIn::after {
    content: '';
    background: var(--blue);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
}

.calendar-wrap .cal_wrap .day:nth-child(7n -6) {
    color: #ed2a61;
}

.calendar-wrap .cal_wrap .day:nth-child(7n) {
    color: #3c6ffa;
}

.calendar-wrap .cal_wrap .day.disable {
    color: #ddd;
}

.current.today {
    background: rgb(242 242 242);
}

.checkInOutInfo>div {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.checkInOutInfo p {
    font-size: 24px;
    color: #494949;
    line-height: 1.7;
    text-align: center;
}

.checkInOutInfo p.space {
    margin-bottom: 10px;
}

.checkInOutInfo p:nth-child(1) {
    width: 100%;
}

.checkInOutInfo p:nth-child(3) {
    width: 100%;
}

.checkInOutInfo p span {
    display: block;
    font-size: 16px;
    color: #a1a1a1;
}


@media screen and (max-width :1200px) {
    .calendar-wrap {
        flex-wrap: wrap;
        padding: 2%;
    }

    .calendar-middle-wrap {
        width: 49%;
        padding: 40px 7%;
    }

    .checkInOutInfo {
        width: 100%;
        margin-top: 2%;
        padding: 50px;
    }

    .checkInOutInfo>div {
        flex-direction: row;
        width: 100%;
    }

    .checkInOutInfo p:nth-child(1) {
        width: 50%;
    }

    .checkInOutInfo p:nth-child(2) {
        width: 50px;
    }

    .checkInOutInfo p:nth-child(3) {
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    .calendar-middle-wrap {
        width: 100%;
        padding: 40px 10%;
    }

    .calendar-middle-wrap:first-of-type {
        margin-bottom: 2%;
    }

    .checkInOutInfo {
        padding: 20px;
    }

    .checkInOutInfo>div {
        flex-direction: column;
    }

    .checkInOutInfo p:nth-child(1) {
        width: 100%;
    }

    .checkInOutInfo p:nth-child(2) {
        width: 100%;
    }

    .checkInOutInfo p:nth-child(3) {
        width: 100%;
    }

    .checkInOutInfo p.space {
        margin-bottom: 0;
    }

    .checkInOutInfo p span {
        display: inline-block;
        margin-right: 10px;
    }

    .checkInOutInfo p label {
        font-size: 20px;
    }
}
